/* Global text styles */


.Left {

    margin-left:500px; 
    Margin-right:;
    
    text-align:left
    
    
    }
    
    .MlEFT{ 
    
        margin-left:450px; 
        Margin-right:5px;
    
        text-align:left
      
    
    } 

.links {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 5px600;
    font-size: 16px;
    color: #222222;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    background: #446682;
}


/* Images style */

.BackTop {
    width: 20%;
    height: 30%;
    padding-left: 70%;
    margin-left:120px; 
    Margin-right:5px;

  
}

.profile {
    width: 10%;
    height: 10%;
}


/* Others */

.iconslist{

    display: list-item;
    list-style-type: circle ;
    padding-right: 40px;

}


.MenuNab {
    height: 150px;
}

.NavList {
    display: inline-flex;
    list-style-type: none;
    padding-right: 40px;
}

.NavList li {
    padding: 0 25px;
    margin: 20px 0;
}

.toolbar {
    padding: 20px;
    text-align: left;
    background-color: white;
    color: black;
    font-size: 28px;
}

.header {
    padding: 70px;

    text-align: center;
    background: rgba(63, 165, 251, 1);
    color: white;
    font-size: 34px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

main {
    width: 90%;
    max-width: 1080px;
    padding: 0 0 0;
    margin: 0 auto;
}

.buttons {
    width: 200px;
    height: 100px;
    border-radius: 12px;
    margin: 5px;
    background-color: rgba(251, 220, 126, 1);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #000;
    text-align: center;
    text-decoration: thick;
    font-size: 20px;
    margin: auto;
   
}

.icon {

padding: 100px;
display: inline-flex;
list-style-type: none;
padding-right: 40px;
}

.buttons {
    display: inline-flex;
    list-style-type: none;
    width: 80px;
    height: 40px;
    margin: 5px;
    padding: 2px;
    color: #000;
    border: none;
    cursor: pointer;
    text-align: center;
    
}

.FooterTab nav {
    text-align: center;
}

    
    
    
    .DBButton {
    
        width: 300px;
        height: 100px;
        border-radius: 12px;
        margin: 5px;
        background-color: rgba(251, 220, 126, 1);
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: #000;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        cursor: pointer;
        list-style: none; 
        align-items: center;
       
    
    
    } 