

.toolbar {

    padding: 20px;
    text-align: left;
    background-color: white;
    color: black;
    font-size: 28px;

}

.header {
    padding: 70px;
    text-align: center;
    background: rgba(63, 165, 251, 1);
    
    color: white;
    font-size: 34px;

  }


body {
    Color: rgba(32, 20, 200, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
   
    }


main {
    width: 90%;
    max-width: 1080px;
    padding: 0px 0 0;
    margin: 0 auto;
}

h1 {
    font-size: 3.25em;
    color: white;
    /* margin-left: 225px; */
}

.buttons {
    padding: 100px;
}

.buttons ul li {
    display: inline-flex;
    list-style-type: none;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 2px;
    color: #000;
    border: 1px solid #000;
}